* {
    box-sizing: border-box;
  }

 .chatbot-container {
  font-family: 'Poppins', sans-serif;
  background: #123c6b;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: #3f072b33 0px 7px 29px 0px;
}


  .chatbot-container .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #edf1f3;
  }

.chatbot-container .chat {
    height: 400px;
    overflow-y: scroll;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #2d112f;
    border-radius: 5px;
    background: #4a216b;
  }

  .chatbot-container.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .chatbot-container.user {
    justify-content: flex-end;
  }

  .chatbot-container.bot {
    justify-content: flex-start;
  }

  .chatbot-container.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .chatbot-container.user .avatar {
    order: 2;
    background: url("/avatar.jpg");
    background-size: cover;
  }

  .chatbot-container.bot .avatar {
    order: 1;
    background: url("/bot.jpg");
    background-size: cover;
  }

  .chatbot-container.text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
  }

  .chatbot-container.user .text {
    background: #1f2a41;
  }

  .chatbot-container.bot .text {
    background: #8c8c8e;
  }

  .chatbot-container.input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #cbcbce;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
   
  }

  .chatbot-container.input:focus {
    border-color: #451732;
    color: #460f35;
  }

  .chatbot-container.button {
    position: absolute;
    width: 80px;
    border: none;
    padding: 1px;
    background: #31363F;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: .01rem;
    margin-left: -4.1rem;
    outline: none;
  
  }
.chatbot-container.button i{
  font-size: 3rem;
}
  .chatbot-container.button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .chatbot-container.chat::-webkit-scrollbar {
    width: 10px;
}

.chatbot-container.chat::-webkit-scrollbar-thumb {
    background: #bcbdc0;
    border-radius: 10px;
}
  